
* {
  box-sizing: border-box;
  letter-spacing: 2px;
}

/*nav bar*/
body {
  background-color: #ef4036;
  padding: 50px;
  padding-top: 0;
}

body:after {
  content: "";
  display: block;
  clear: both;
}

.nav-bar {
  float: right;
  margin: 30px 10px 0 10px;
}

.nav-bar:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
  display: inline-block;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}

li:hover {
  cursor: pointer;
  /*border-bottom: 2px solid white;
  /*text-decoration: underline;*/
  text-shadow: 7px 7px 2px #b22e27;
}

/*wrapper*/
.wrapper {
  margin: 30px auto 30px auto;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 50px;
  content: "";
  display: block;
  clear: both;
}

/*.image*/
.images {
  width: 45%;
  float: left;
}

.display {
  position: absolute;
  top: 180px;
  left: 100px;
  width: 500px;
  height: 500px;
  transition: opacity 0.8s;
}

.display-hidden {
  position: absolute;
  top: 135px;
  left: 120px;
  opacity: 0;
  transition: opacity 0.8s;
}

.display-hidden img {
  width: 450px;
  height: 450px;
}

.options {
  margin-top: 650px;
  margin-left: 40px;
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.8s;
}

.options:hover {
  opacity: 1;
}

.options:hover ~ .display {
  opacity: 0;
}

.options:hover + .display-hidden {
  opacity: 1;
  z-index: 1;
}


/*.description*/

.description {
  width: 55%;
  float: right;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

p {
  margin-top: 50px;
  line-height: 25px;
  text-align: justify;
}

.welcome:first-letter {
  font-size: 40px;
  font-weight: bold;
  color: #ef4036;
}

.chart {
  margin-top: 50px;
  font-weight: bold;
}


/*.description table*/

table {
  width: 100%;
  border-collapse: collapse;
  display: block;
}

table:after {
  display: block;
  content: "source: bulbapedia";
}

thead th:nth-child(n+2):nth-child(-n+6) {
  background-color: #ef4036;
  color: white;
}

tbody th {
  background-color: #ef4036;
  color: white;
}

tbody tr {
  border-bottom: 2px solid #ccc;
}

th, td {
  height: 50px;
  width: 120px;
  padding: 5px 10px 5px 10px;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
}

.charmander:hover {
  background-color: #ff8f3f;
  color: white;
}

.charmander:hover th {
  color: #ff8f3f;
}

.squirtle:hover {
  background-color: #3adeff;
  color: white;
}

.squirtle:hover th {
  color: #3adeff;
}

.bulbasaur:hover {
  background-color: #85C090;
  color: white;
}

.bulbasaur:hover th{
  color: #85C090;
}

.pikachu:hover {
  background-color: #ffd622;
  color: white;
}

.pikachu:hover th {
  color: #ffd622;
}



/*.checkout*/

.checkout {
  display: block;
  clear: both;
  background-color: #f58c86;
  width: 100%;
  position: relative;
  top: 50px;
  border-radius: 0 0 10px 10px;
  border: 10px double white;
  height: 450px;
}

.text {
  padding-top: 20px;
  text-align: center;
}

.input {
  margin-top: 50px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

input {
  width: 100%;
  height: 40px;
  display: block;
  border: 2px solid #ef4036;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.pokemon {
  margin-top: 30px;
}

button {
  width: 100%;
  height: 40px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  border: 5px double #f58c86;
  background-color: #ef4036;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px #b22e27;
}

button:hover {
  background-color: white;
  color: #ef4036;
  box-shadow: 0 0 0;
}


footer {
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}

/*media query*/
@media (max-width: 1250px) {
  .images, .description {
    width: 100%;
    height: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    clear:left;
    padding-top: 1px;
  }

  .display, .display-hidden{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@media (max-width: 690px) {
  h1 {
    font-size: 30px;
  }

  .nav-bar {
    float: none;
    width: 100%;
    padding: 0;
    margin: 30px 5px 0 0px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin-left: none;
    padding: none;
    text-align: justify;
    /*width: 20%;*/
  }

  .display, .display-hidden{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 430px;
    height: 430px;
  }

  .display-hidden img {
    width: 360px;
    height: 360px;
  }

  .options {
    width: 80px;
    height: 80px;
    margin-top: 450px;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  body {
    padding: 15px;
  }

  li {
    display: block;
  }

  .display, .display-hidden{
    position: absolute;
    left: 50%;
    top: 45%;
    width: 400px;
    height: 400px;
  }

  .display-hidden img {
    width: 330px;
    height: 330px;
  }


  .options {
    width: 50px;
    height: 50px;
    margin-top: 420px;
    margin-left: 10%;
    float: none;
    display: inline-block;
  }

  table {
    width: 400px;
  }
}
